<a href="https://colab.research.google.com/github/eichaui/PYTHON/blob/main/ramdomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

RAMDOM FOREST

In [55]:

# Pandas is used for data manipulation
import pandas as pd

In [98]:
# Read in data and display first 5 rows
features = pd.read_csv('DFILTRADO.csv')
features.head(8)

,atencion,atencion.1,theta,low alfa,high alfa,low beta,high beta,low gamma,medd gamma,etiqueta
0,72.692735,72.692735,37420.36975,9015.769716,6607.207698,6326.071899,3136.921890,1486.454263,1132.587898,1
1,71.918314,71.918314,32873.34463,8657.123471,6925.926783,9011.407867,5172.997553,1702.937324,1378.668925,1
2,70.668588,70.668588,29256.10940,8603.974016,7357.977008,10924.094810,6681.543632,1856.242444,1561.321931,1
3,69.017283,69.017283,26468.87310,8812.094588,7880.889067,12145.489480,7717.088129,1953.739329,1687.340885,1
4,67.038121,67.038121,24411.84472,9237.258421,8472.193658,12756.948620,8334.159047,2002.797681,1763.519756,1
5,64.804825,64.804825,22985.23329,9835.238752,9109.421475,12839.828990,8587.284390,2010.787205,1796.652514,1
6,62.391119,62.391119,22089.24781,10561.808820,9770.103216,12475.487320,8530.992161,1985.077605,1793.533128,1
7,59.870728,59.870728,21624.09729,11372.741850,10431.769580,11745.280370,8219.810363,1933.038585,1760.955567,1

In [99]:
print('The shape of our features is:', features.shape)

The shape of our features is: (7291, 10)

In [100]:
# Descriptive statistics for each column
features.describe()

,atencion,atencion.1,theta,low alfa,high alfa,low beta,high beta,low gamma,medd gamma,etiqueta
count,7291.000000,7291.000000,7291.000000,7291.000000,7291.000000,7291.000000,7291.000000,7291.000000,7270.000000,7291.000000
mean,48.875743,48.875743,26590.333287,15420.997539,14753.860665,10826.909592,8450.728493,5937.840703,4703.798601,0.350432
std,16.175979,16.175979,6770.069114,5191.774403,4749.275799,4455.571686,3334.437442,4209.039358,2607.286637,0.477138
min,-0.882968,-0.882968,4559.705132,51.627002,-3019.154953,-526.302060,1246.301054,-1561.731285,-3183.842759,0.000000
25%,38.482838,38.482838,22269.109185,11753.723435,11445.342760,7673.995750,6198.867604,3885.986434,3074.891059,0.000000
50%,48.931677,48.931677,26724.503110,14912.920560,14272.770190,9939.973194,7873.287676,5145.356326,4294.684701,0.000000
75%,60.563256,60.563256,31040.028440,18572.698595,17452.824615,13192.986270,9940.891795,6868.854364,5807.515201,1.000000
max,88.420399,88.420399,52353.962410,35494.617520,35894.437400,35395.197780,30057.423340,46802.984640,19207.742730,1.000000

In [101]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
# Display the first 5 rows of the last 12 columns
features.iloc[:,0:].head(5000)

,atencion,atencion.1,theta,low alfa,high alfa,low beta,high beta,low gamma,medd gamma,etiqueta
0,72.692735,72.692735,37420.36975,9015.769716,6607.207698,6326.071899,3136.921890,1486.454263,1132.587898,1
1,71.918314,71.918314,32873.34463,8657.123471,6925.926783,9011.407867,5172.997553,1702.937324,1378.668925,1
2,70.668588,70.668588,29256.10940,8603.974016,7357.977008,10924.094810,6681.543632,1856.242444,1561.321931,1
3,69.017283,69.017283,26468.87310,8812.094588,7880.889067,12145.489480,7717.088129,1953.739329,1687.340885,1
4,67.038121,67.038121,24411.84472,9237.258421,8472.193658,12756.948620,8334.159047,2002.797681,1763.519756,1
...,...,...,...,...,...,...,...,...,...,...
4995,46.231121,46.231121,18822.33998,17791.540700,14710.218050,10546.896040,11574.289960,10262.121280,10543.941160,0
4996,46.644001,46.644001,15838.76561,17446.953580,14242.766920,10350.117690,14393.775420,13137.618180,10910.859760,0
4997,46.779340,46.779340,19612.55868,20862.990850,14847.853550,11197.373000,17665.015690,16092.306640,10893.458970,0
4998,47.661981,47.661981,19502.29094,18266.706770,12448.734550,10639.460930,18187.130760,17595.456030,9890.589408,0
4999,49.412553,49.412553,19558.93560,19042.689440,13278.975480,9728.600523,20742.514220,18998.724420,9213.543642,0

In [102]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['etiqueta'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('etiqueta', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [103]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [104]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (5468, 9)
Training Labels Shape: (5468,)
Testing Features Shape: (1823, 9)
Testing Labels Shape: (1823,)

 PROMEDIO EN EL CUAL SE ENCUENTRA EL ERROR

In [105]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('atencion')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  48.26

In [106]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('theta')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  26755.26

In [107]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('low alfa')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  15496.36

In [88]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('high alfa')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  14845.6

MODELO DE TREN

In [108]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators =1000, random_state = 42)

In [109]:
# Train the model on training data
rf.fit(train_features, train_labels);

ValueError: ignored

In [92]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

NotFittedError: ignored

In [95]:
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees..')

NameError: ignored

In [94]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

NameError: ignored